@{
    ViewData["Title"] = "Dividir";
}

<div class="text-center">


    <h1 class="display-4">Operação Matemática: Divisão</h1>
    <p>Faça uma divisão com dois números no formulário abaixo:</p>

    <form action="ResultDividir" method="post">
        <label for="n1">Primeiro número:</label>
        <input type="text" name="n1" id="n1">

        <label for="n2">Segundo número:</label>
        <input type="text" name="n2" id="n2">

        <input type="submit" value="Dividir">
    </form>

</div>