@{
    ViewData["Title"] = "ResultSubtrair";
}

<div class="text-center">
    <h1 class="display-4">Resultado da Subtração</h1>
    <p>A subtração de @ViewBag.N1 - @ViewBag.N2 é @ViewBag.Resultado</p>
    
</div>