@{
    ViewData["Title"] = "ResultMultiplicar";
}

<div class="text-center">
    <h1 class="display-4">Resultado da Multiplicação</h1>
    <p>A multiplicação de @ViewBag.N1 * @ViewBag.N2 é @ViewBag.Resultado</p>

</div>