@{
    ViewData["Title"] = "ResultDividir";
}

<div class="text-center">
    <h1 class="display-4">Resultado da Divisão</h1>
    <p>A divisão de @ViewBag.N1 / @ViewBag.N2 é @ViewBag.Resultado</p>

</div>