@{
    ViewData["Title"] = "Somar";
}

<div class="text-center">


    <h1 class="display-4">Operação Matemática: Adição</h1>
    <p>Faça uma soma com dois números no formulário abaixo:</p>

    <form action="ResultSomar" method="post">
        <label for="n1">Primeiro número:</label>
        <input type="text" name="n1" id="num1">

        <label for="n2">Segundo número:</label>
        <input type="text" name="n2" id="n2">

        <input type="submit" value="Somar">
    </form>

</div>