@{
    ViewData["Title"] = "Subtrair";
}

<div class="text-center">


    <h1 class="display-4">Operação Matemática: Subtração</h1>
    <p>Faça uma subtração com dois números no formulário abaixo:</p>

    <form action="ResultSubtrair" method="post">
        <label for="n1">Primeiro número:</label>
        <input type="text" name="n1" id="n1">

        <label for="n2">Segundo número:</label>
        <input type="text" name="n2" id="n2">

        <input type="submit" value="Subtrair">
    </form>

</div>