@{
    ViewData["Title"] = "Formulario";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de Usuários</h1>
    <p>Preencha o formulário abaixo.</p>

    <form action="TesteFormData" method="post">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email">
        <label for="senha">Senha:</label>
        <input type="senha" name="Senha" id="senha">
        
        <input type="submit" value="Enviar"> 
    </form>
</div>